[Unit]
Description=Apache TinkerPop Gremlin Server Websockets daemon
Documentation=http://tinkerpop.apache.org/
After=network.target

[Service]
Type=forking
ExecStart=/opt/janusgraph-0.1.1-hadoop2/bin/gremlin-server-websoc.sh start &
ExecStop=/opt/janusgraph-0.1.1-hadoop2/bin/gremlin-server-websoc.sh stop &
PIDFile=/opt/janusgraph-0.1.1-hadoop2/run/gremlin-websoc.pid

[Install]
WantedBy=multi-user.target